.header{background-color:#355769;padding-bottom:20px}.header h1{color:#f9e7d6;text-align:center}@media screen and (max-width: 1024px){.header h1{font-size:3.5em}}@media screen and (max-width: 1024px){.header .grid-buttons{display:none}}.header .grid-buttons::after,.header .grid-buttons::before{content:"";display:block;width:20%;height:5px;margin:20px auto;background-color:#f9e7d6}.header .grid-buttons button{margin:5px;border:3px solid #fcfcfc;color:#fcfcfc;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}.header .grid-buttons button:hover{background-color:#fcfcfc;color:#355769}.header .dropdown{margin:20px 0;background-color:#355769}@media screen and (min-width: 1024px){.header .dropdown{display:none}}.header .dropdown .dropdown-item{width:100%}.content{padding-top:20px;background-color:#f9e7d6;color:#355769}.content .prev-area button,.content .next-area button,.content .m button{font-size:3em;border:2px solid #355769;color:#355769;background-color:#f9e7d6;border-radius:5px;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}.content .prev-area button:hover,.content .next-area button:hover,.content .m button:hover{color:#fcfcfc;background-color:#355769}.content img{border-radius:20%;max-width:150px;max-height:150px}.content .titulo{text-align:center}.content .subtitulo::after{content:"";display:block;margin:10px 0 20px;height:3px;width:20%;background-color:#355769}.content .radio{padding-bottom:20px;width:100%}.content .m{padding-top:10px;padding-bottom:20px}@media screen and (min-width: 1024px){.content .m{display:none}}@media screen and (max-width: 1024px){.content .d{display:none}}.footer{background-color:#ebcbad;color:#4b8291;padding-top:40px;padding-bottom:20px}.footer .medmi{padding-top:20px}.modal-body .next,.modal-body .prev{font-size:2.5em}.modal-body .m{margin-top:5px}@media screen and (min-width: 1024px){.modal-body .m{display:none}}@media screen and (max-width: 1024px){.modal-body .d{display:none}}.modal-body .btn-group{margin-top:10px;margin-bottom:5px}body{background-color:#ebcbad}
.modal-lg{
    max-width: 960px;
}
.modal-title{
    font-size: 36px;
    color: #fcfcfc;
}
.modal-body .texto{
    font-size: 24px;
    color: #fcfcfc;
}
.modal-content{
    background-color:black;
}
.modal-body .prev button,.modal-body .next button,.modal-body d{
    color:#fcfcfc;
    border-color:#fcfcfc;
}


