.content {
  padding-top: 20px;
  background-color: $body-color;
  color: $header-color;

  .prev-area, .next-area, .m {
    button {
      font-size: 3em;
      border: 2px solid $header-color;
      color: $header-color;
      background-color: $body-color;
      border-radius: 5px;
      transition: all 0.2s ease-in-out;
      &:hover{
        color: $block-color;
        background-color: $header-color;
      }
    }
  }

  img {
    border-radius: 20%;
    max-width: 150px;
    max-height: 150px;
  }

  .titulo {
    text-align: center;
  }

  .subtitulo {
    &::after {
      content: "";
      display: block;
      margin: 10px 0 20px;
      height: 3px;
      width: 20%;
      background-color: $header-color;
    }
  }

  .radio {
    padding-bottom: 20px;
    width: 100%;
  }
  .m{
    padding-top: 10px;
    padding-bottom: 20px;
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
  .d{
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}
