//Variáveis
$block-color: #fcfcfc;
$footer-color: #ebcbad;
$font-color: #4b8291;
$header-color: #355769;
$body-color: #f9e7d6;
$font: Helvetica;

//Includes
@import "header";
@import "content";
@import "footer";
@import "modal";

body{
	background-color: $footer-color;
}