
body {
    font-family: raleway;
    background:  radial-gradient(circle, rgba(255,255,255,1) 26%, rgba(228,228,228,1) 68%);
  }
  
  #main {
    transition: margin-left .5s;
  
    padding: 15px;
    font-size:  50px;
    text-align: center;
    transition: margin-left .5s;
  
    content: "";
    display: block;
    height: 50px;
    background-color: #850e0e00;
  
  
  
    /* deixando o elemento na posição desejada */
   
  }
  
  .sidenav {
    padding: 35px 20px 35px 30px;
    height: 60%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -500px;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .sidenav .closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    transition: 0.3s;
  }
  .sidenav .closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:rgba(64,81,128,1);
    transition: 0.3s;
  }
  
  .sidenav .closebtn:hover {
    color: rgba(64,81,128,1);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 60px;
    margin-left: 50px;
  }
  
  .submenu{
    margin-top: 30px;
    border-top: 1px solid rgba(64,81,128,1);
  }
  
  .submenu,
  .dropdown-container{
    list-style-type: circle;
    padding: 0;
  }
  
  .submenu > li{
    padding: 10px 0;
    border-bottom: 1px solid rgba(64,81,128,1);
  }
  
  .submenu a, .dropdown-btn {
    padding: 6px 8px 6px 0;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    display: inline-block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  .submenu a:hover, .dropdown-btn:hover {
    color: rgba(64,81,128,1);;
  }
  
  .submenu .active {
    background-color: none;}
  
  .dropdown-container {
    display: none;
    background-color:none;
    padding-left: 8px;
  }
  
  .submenu .dropdown-container li a{
    text-transform: none;
    display: block;
    padding-left: 15px;
  }
  
  .submenu .dropdown-container li a:hover,
  .submenu .dropdown-container li a.active{
    background-color: #f2f2f2;
    color: #000;
  }
  
  .submenu .fa-plus,
  .submenu .fa-minus {
    width: 36px;
    height: 36px;
    background-color: rgba(64,81,128,1);
    float: right;
    color: #fff;
    padding: 0;
    text-align: center;
    line-height: 1.65;
  }
  
  ul.modal-list7 {
    list-style: circle;
    padding: 0;
  }
  
  /* Estilo para os itens da lista */
  ul.modal-list7 li {
    margin-bottom: px;
    text-align: justify;
    font-family:raleway;
  }
  
  /* Estilo para os links dentro dos itens da lista */
  ul.modal-list7 li a {
    text-decoration: none;
    color: #333;
    font-size: 21px;
    display: block;
    padding: 5px;
    border: 1px solid #9baff0;
    border-radius: 50% 20% / 10% 40%;
    transition: background-color 0.3s ease;
  }
  /* Estilo para modal-list */
  ul.modal-list {
    list-style:circle;
    padding: 0;
  }
  
  ul.modal-list li {
    margin-bottom: 10px;
  }
  
  ul.modal-list li a {
    text-decoration: none;
    color: #333;
    font-size: 21px;
    display: block;
    padding: 5px;
    border: 1px solid #9baff0;
    border-radius: 50% 20% / 10% 40%;
    transition: background-color 0.3s ease;
  }
  
  ul.modal-list li a:hover {
    background-color: #f5f5f5;
  }
  
  /* Estilo para modal-list2 */
  ul.modal-list2 {
    list-style: circle;
    padding: 0;
  }
  
  ul.modal-list2 li {
    margin-bottom: 10px;
  }
  
  ul.modal-list2 li a {
    text-decoration: none;
    color: #333;
    font-size: 21px;
    display: block;
    padding: 5px;
    border: 1px solid #9baff0;
    border-radius: 50% 20% / 10% 40%;
    transition: background-color 0.3s ease;
  }
  
  ul.modal-list2 li a:hover {
    background-color: #f0f5ff;
  }
  
  /* Estilo para modal-list3 */
  ul.modal-list3 {
    list-style:circle;
    padding: 0;
  }
  
  ul.modal-list3 li {
    margin-bottom: 15px;
  }
  
  ul.modal-list3 li a {
    text-decoration: none;
    color: #333;
    font-size: 21px;
    display: block;
    padding: 5px;
    border: 1px solid #9baff0;
    border-radius: 50% 20% / 10% 40%;
    transition: background-color 0.3s ease;
  }
  
  ul.modal-list3 li a:hover {
    background-color: #f5f5f5;
  }
  
  /* Estilo para modal-list4 */
  ul.modal-list4 {
    list-style: circle;
    padding: 0;
  }
  
  ul.modal-list4 li {
    margin-bottom: 12px;
  }
  
  ul.modal-list4 li a {
    text-decoration: none;
    color: #333;
    font-size: 21px;
    display: block;
    padding: 5px;
    border: 1px solid #9baff0;
    border-radius: 50% 20% / 10% 40%;
    transition: background-color 0.3s ease;
  }
  
  ul.modal-list4 li a:hover {
    background-color: #f5f5f5;
  }
  
  /* Estilo para modal-list5 */
  ul.modal-list5 {
    list-style: circle;
    padding: 0;
  }
  
  ul.modal-list5 li {
    margin-bottom: 8px;
  }
  
  ul.modal-list5 li a {
    text-decoration: none;
    color: #333;
    font-size: 21px;
    display: block;
    padding: 5px;
    border: 1px solid #9baff0;
    border-radius: 50% 20% / 10% 40%;
    transition: background-color 0.3s ease;
  }
  
  ul.modal-list5 li a:hover {
    background-color: #f5f5f5;
  }
  
  /* Estilo para modal-list6 */
  ul.modal-list6 {
    list-style: circle;
    padding: 0;
  }
  
  ul.modal-list6 li {
    margin-bottom: 6px;
  }
  
  ul.modal-list6 li a {
    text-decoration: none;
    color: #333;
    font-size: 21px;
    display: block;
    padding: 5px;
    border: 1px solid #9baff0;
    border-radius: 50% 20% / 10% 40%;
    transition: background-color 0.3s ease;
  }
  
  ul.modal-list6 li a:hover {
    background-color: #f5f5f5;
  }
  